<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="table-container">
    <h1>Courses</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Duration</th>
            <th>Fees</th>
        </tr>

        {% for c in courses %}
        <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] }}</td>
            <td>{{ c[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>